@import "tailwindcss";

@theme {
  --color-accent-color: #5984c6;
  --color-secondry-color: #daecf6;
  --color-secondary-blue: #daecf6;
  --color-dark-blue: #0b161b;
}
@plugin "daisyui" {
  themes: light --default;
}
@layer components {
  .main-header {
     @apply text-[48px] font-semibold text-accent-color  mt-10 mb-5 text-center;
  }
}