@import "tailwindcss";

@theme {
  --color-accent-color:#5984C6;
  --color-secondry-color:#DAECF6;
  --color-first-blue: #5984C6; 
  --color-secondary-blue: #DAECF6; 
  --color-dark-blue:#0B161B;
}
@plugin "daisyui" {
  themes: light --default
  }


